body{
    background-color:rgb(24, 120, 185);
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
    line-height: normal;
}


hgroup{
text-align: center;

}
hr{
width: 50%;
}

li,ul{
    text-align: center;
}

h1{
    font-size:25px;
    text-align: center;
}

h3{
    font-size: 18px;
    text-align: center;
}
