
body{
	background-image: url("../BG_fundo.png");
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	width: auto;
}
main {
width: 1000px;
text-align: center;
margin: auto;
}

#voltar{
	text-align: center;
}


article{
	width: 100%;
	margin: -1px auto 10px;
	border:1 px;
	
}

#palestrante{

	float:right;
	margin-left:15px;
	border:1px solid #999;
	padding:3px;
	margin-bottom:10px;
}

form{
	text-align: center;
}


header{
	width: auto;
	height: 80px;
	background-color: rgb(65, 104, 131);
	margin: 0 auto;
	color: white;
	position: relative;
}
a h1 {
	margin: 0;
	font: 600 1.5em/1 'Raleway', sans-serif;
  color:white;
  text-align: center;
  text-transform: uppercase;
	letter-spacing: .5em;
		position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
		transform: translate(-50%, -50%);
}

nav ul {
	width: auto;
	background-color: rgb(65, 104, 131);
	height: 25px;
	margin-top: 0;
	text-align: center;
	padding: auto;
	text-transform: uppercase;
}
nav ul li  {
	display: inline-block;
	margin: 0;
	padding-left: 15px;
	vertical-align: middle;
}
nav ul li a {
	text-decoration: none;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border-right: 1px white;
}

nav ul a:hover {
	border-top: 1px white solid;
}
		
table { 
	width:700px;
	margin:0 auto;
	border-spacing:0;
	border-right:1px solid black;
	border-bottom:1px solid black;
}

caption {
	font-size:130%;
	font-weight:bold;
	padding:5px 0;
	background-color:rgb(65, 104, 131);;
	border:1px solid black;
	border-bottom:none;
}

tr, td, th {
	border:thin solid black;
	border-bottom:none;
	border-right:none;
	padding:5px;
}

td { 
	text-align:center;
}

th {
	text-align:left;
}

thead th {
	text-align:center;
}

thead tr th:first-child {
	text-align:left;
	background-color:white;
}
		
		tbody tr:nth-child(odd) {
				background-color: rgb(65, 104, 131);  
		}
		
		tbody tr:nth-child(even) {
				background-color:rgb(91, 147, 186);
		}  

		thead tr td{
background-color: rgb(37, 89, 126);   
		}

